.noises, .noises svg {
  position: absolute;
}

.noises svg {
  width: 20px;
  height: 20px;
  /*background-color: cyan;*/
}

.noises circle {
  fill: rgba(225, 19, 19, 0.5);
  stroke: black;
  stroke-width: 0.5px;
  cursor: pointer;
}

.hide_noise_type {
  display: none;
}

.hide {
  display: none;
}

h1#firstHeading {
  color: black;
  font-size: 35px;
  margin-top: 5px;
  padding: 10px 0;
}