.noises, .noises svg {
  position: absolute;
}

.noises svg {
  width: 20px;
  height: 20px;
  /*background-color: cyan;*/
}

.noises circle {
  fill: rgba(225, 19, 19, 0.2);
  cursor: pointer;
}

.hide_noise_type {
  display: none;
}

.hide {
  display: none;
}

h1#firstHeading {
  color: black;
  font-size: 35px;
  margin: 5px 0 0 0;
  padding: 10px 0;
}

.score-icon {
  position: relative;
  background-color: black;
  border-radius: 10%;
  margin-right: 10px;
}

.bad-score { color: red; }
.med-score { color: orange; }
.good-score { color: green; }