.noises, .noises svg {
  position: absolute;
}

.noises svg {
  width: 20px;
  height: 20px;
  /*background-color: cyan;*/
}

.noises circle {
  fill: rgba(225, 19, 19, 0.5);
  stroke: black;
  stroke-width: 0.5px;
  cursor: pointer;
}

.hide_noise_type {
  display: none;
}
