<div ng-controller="homeController">

  <div class="row">

    <div class="col-md-9 col-sm-12 col-xs-12">

      <div id="map-canvas"></div>
      <div class="location-search">
        <form>
          <label for="locationSearch">Find Location:</label>
          <input type="text" id="locationSearch" ng-model="locationSearch">
          <button ng-click="findLocation()">Search</button> OR
          <button ng-click="currentLocation()">Use Current Location</button>
        </form>
      </div>
    </div>

    <div class="map-options">
      <div class="map-filters col-md-3 col-sm-12 col-xs-12">
        <h3>Filter Noise Types</h3>
        <p><span class="glyphicon glyphicon-road clicked" ng-click="toggleLayer(transit); toggleHighlight()"></span><label>Transit</label></p>
        <p><span class="glyphicon glyphicon-trash clicked" ng-click="toggleLayer(dumps)"></span><label>Dumps</label></p>
        <p><span class="glyphicon glyphicon-fire clicked" ng-click="toggleLayer(fireStations)"></span><label>Fire Stations</label></p>
        <p><span class="glyphicon glyphicon-pencil clicked" ng-click="toggleLayer(colleges)"></span><label>Colleges</label></p>
        <p><span class="glyphicon glyphicon-book clicked" ng-click="toggleLayer(schools)"></span><label>Schools</label></p>
        <p><span class="glyphicon glyphicon-bullhorn clicked" ng-click="toggleLayer(policeStations)"></span><label>Police Stations</label></p>
        <p><span class="glyphicon glyphicon-plus-sign clicked" ng-click="toggleLayer(hospitals)"></span><label>Hospitals</label></p>
        <p><span class="glyphicon glyphicon-glass clicked" ng-click="toggleLayer(bars)"></span><label>Bars</label></p>
        <p><span class="glyphicon glyphicon-wrench clicked" ng-click="toggleLayer(construction)"></span><label>Construction</label></p>
        <p><span class="glyphicon glyphicon-wrench clicked" ng-click="toggleLayer(demolition)"></span><label>Demolition</label></p>
      </div>
    </div>

  </div>

</div>
