<div ng-controller="homeController">

  <div class="row">

    <div class="col-md-9 col-sm-12 col-xs-12">

      <div id="map-canvas"></div>
      <div class="location-search">
        <form>
          <label for="locationSearch">Find Location:</label>
          <input type="text" id="locationSearch" ng-model="locationSearch">
          <button ng-click="findLocation()">Search</button> OR
          <button ng-click="currentLocation()">Use Current Location</button>
        </form>
      </div>
    </div>

    <div class="map-options">
      <div class="map-filters col-md-3 col-sm-12 col-xs-12">
        <h3>Filter Noise Types</h3>

        <label><p><input type="checkbox" checked="checked" ng-click="toggleLayer(transit)"></input><span class="glyphicon glyphicon-road clicked"></span>Transit</label></p>
        <label><p><input type="checkbox" checked="true" ng-click="toggleLayer(dumps)"></input><span class="glyphicon glyphicon-trash clicked"></span>Dumps</label></p>
        <label><p><input type="checkbox" checked="true" ng-click="toggleLayer(fireStations)"></input><span class="glyphicon glyphicon-fire clicked"></span>Fire Stations</label></p>
        <label><p><input type="checkbox" checked="true" ng-click="toggleLayer(colleges)"></input><span class="glyphicon glyphicon-pencil clicked"></span>Colleges</label></p>
        <label><p><input type="checkbox" checked="true" ng-click="toggleLayer(schools)"></input><span class="glyphicon glyphicon-book clicked"></span>Schools</label></p>
        <label><p><input type="checkbox" checked="true" ng-click="toggleLayer(policeStations)"></input><span class="glyphicon glyphicon-bullhorn clicked"></span>Police Stations</label></p>
        <label><p><input type="checkbox" checked="true" ng-click="toggleLayer(hospitals)"></input><span class="glyphicon glyphicon-plus-sign clicked"></span>Hospitals</label></p>
        <label><p><input type="checkbox" checked="true" ng-click="toggleLayer(bars)"></input><span class="glyphicon glyphicon-glass clicked"></span>Bars</label></p>
        <label><p><input type="checkbox" checked="true" ng-click="toggleLayer(construction)"></input><span class="glyphicon glyphicon-wrench clicked"></span>Construction</label></p>
        <label><p><input type="checkbox" checked="true" ng-click="toggleLayer(demolition)"></input><span class="glyphicon glyphicon-wrench clicked"></span>Demolition</label></p>
        <label><p><input type="checkbox" checked="true" ng-click="toggleLayer(noiseComplaints)"></input><span class="glyphicon glyphicon-phone-alt clicked"></span>911 Noise Complaints</label></p>
      </div>
    </div>

  </div>

</div>
