<div ng-controller="mapController">
  <div class="map-home row">
    <div class="map-wrapper col-md-9 col-sm-12 col-xs-12">
      <div id="map-canvas"></div>
      <div class="noise-descrip">
        <div class="noise-descrip-wrapper">
          <h4 ng-model="currentNoiseType">{{ currentNoiseType }}</h4>
          <p ng-model="currentNoiseInfo">{{ currentNoiseInfo }}</p>
        </div>
      </div>
      <div class="mobile-filters text-center"><button ng-click="toggleMobile()"><h5>View Filters</h5></button></div>
    </div>
    <div class="map-filters col-md-3 col-sm-12 col-xs-12">
      <div class="location-search">
        <form>
          <div class="form-group">
            <label for="locationSearch"><h3>Get Location Rating</h3></label>
            <input class="form-control" type="text" id="locationSearch" ng-model="locationSearch">
            <div class="error-msg" ng-hide="!address_error">{{ address_error }}</div>
          </div>
          <div class="form-group">
            <button class="btn btn-info" ng-click="findLocation()">Search</button>
            <strong>OR</strong>
            <button class="btn btn-default" ng-click="currentLocation()">Use Current Location</button>
          </div>
          <div><small>Right click on the map to drop a pin!</small></div>
        </form>
      </div>
      <div class="map-options">
        <h3>Filter Noise Types</h3>
        <div class="global-filters">
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" ng-click="hideAll()" ng-disabled="hideAllButton">
                Hide All Noises
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" ng-click="showAll()" ng-disabled="showAllButton">
                Show All Noises
              </button>
            </div>
          </div>
          <button type="button" class="btn btn-default btn-block" ng-click="toggleHeatmap()" ng-disabled="hideAllButton">
            Toggle Heatmap
          </button>
        </div>
        <label>
          <input type="checkbox" checked="true" ng-click="toggleNoises('transit');changeColor($event)"></input>
          <div class="switch">
            <span class="glyphicon glyphicon-road clicked"></span>
          </div>
          <p>Transit
            <img src="app/img/info_symbol.png" class="info" tooltip-placement="right" tooltip="Bus and streetcar stops, transit centers"/>
          </p>
        </label>
        <label>
          <input type="checkbox" checked="true" ng-click="toggleNoises('dump');changeColor($event)"></input>
          <div class="switch">
            <span class="glyphicon glyphicon-trash clicked"></span>
          </div>
          <p>Dumps</p>
          </label>
        <label>
          <input type="checkbox" checked="true" ng-click="toggleNoises('fireStation');changeColor($event)"></input>
          <div class="switch">
            <span class="glyphicon glyphicon-fire clicked"></span>
          </div>
          <p>Fire Stations</p>
        </label>
        <label>
          <input type="checkbox" checked="true" ng-click="toggleNoises('college');changeColor($event)"></input>
          <div class="switch">
            <span class="glyphicon glyphicon-pencil clicked"></span>
          </div>
          <p>Colleges</p>
        </label>
        <label>
          <input type="checkbox" checked="true" ng-click="toggleNoises('school');changeColor($event)"></input>
          <div class="switch">
            <span class="glyphicon glyphicon-book clicked"></span>
          </div>
          <p>Schools</p>
        </label>
        <label>
          <input type="checkbox" checked="true" ng-click="toggleNoises('policeStation');changeColor($event)"></input>
          <div class="switch">
            <span class="glyphicon glyphicon-bullhorn clicked"></span>
          </div>
          <p>Police Stations</p>
        </label>
        <label>
          <input type="checkbox" checked="true" ng-click="toggleNoises('hospital');changeColor($event)"></input>
          <div class="switch">
            <span class="glyphicon glyphicon-plus-sign clicked"></span>
          </div>
          <p>Hospitals</p>
        </label>
        <label>
          <input type="checkbox" checked="true" ng-click="toggleNoises('bar');changeColor($event)"></input>
          <div class="switch">
            <span class="glyphicon glyphicon-glass clicked"></span>
          </div>
          <p>Bars
            <img src="app/img/info_symbol.png" class="info" tooltip-placement="right" tooltip="Includes some restaurants that double as bars"/>
          </p>
        </label>
        <label>
          <input type="checkbox" checked="true" ng-click="toggleNoises('construction');changeColor($event)"></input>
          <div class="switch">
            <span class="glyphicon glyphicon-warning-sign clicked"></span>
          </div>
          <p>Construction
            <img src="app/img/info_symbol.png" class="info" tooltip-placement="right" tooltip="Locations of active, new construction permits; updated daily"/>
          </p>
        </label>
        <label>
          <input type="checkbox" checked="true" ng-click="toggleNoises('demolition');changeColor($event)"></input>
          <div class="switch">
            <span class="glyphicon glyphicon-wrench clicked"></span>
          </div>
          <p>Demolition
            <img src="app/img/info_symbol.png" class="info" tooltip-placement="right" tooltip="Locations of active demolition permits; updated daily"/>
          </p>
        </label>
        <label>
          <input type="checkbox" checked="true" ng-click="toggleNoises('noiseComplaints');changeColor($event)"></input>
          <div class="switch">
            <span class="glyphicon glyphicon-phone-alt clicked"></span>
          </div>
          <p>911 Noise Complaints
            <img src="app/img/info_symbol.png" class="info" tooltip-placement="bottom" tooltip="Recent noise complaints called into 911; updated daily"/>
          </p>
        </label>
        <label>
          <input type="checkbox" checked="true" ng-click="toggleNoises('stadium');changeColor($event)"></input>
          <div class="switch">
            <span class="glyphicon glyphicon-volume-up clicked"></span>
          </div>
          <p>Stadiums</p>
        </label>
        <label>
          <input type="checkbox" checked="true" ng-click="toggleNoises('freeway');changeColor($event)"></input>
          <div class="switch">
            <span class="glyphicon glyphicon-road clicked"></span>
          </div>
          <p>Freeways</p>
        </label>
        <label>
          <input type="checkbox" checked="true" ng-click="toggleNoises('heliportOrAirport');changeColor($event)"></input>
          <div class="switch">
            <span class="glyphicon glyphicon-plane clicked"></span>
          </div>
          <p>Airports/Heliports</p>
        </label>
      </div>
    </div>
  </div>
</div>
