<div ng-controller="map2Controller">

  <div class="row">

    <div class="col-md-9 col-sm-12 col-xs-12">

      <div id="map-canvas"></div>
      <div class="location-search">
        <form>
          <label for="locationSearch">Find Location:</label>
          <input type="text" id="locationSearch" ng-model="locationSearch">
          <button ng-click="findLocation()">Search</button> OR
          <button ng-click="currentLocation()">Use Current Location</button>
        </form>
      </div>
    </div>

    <div class="map-options">
      <div class="map-filters col-md-3 col-sm-12 col-xs-12">
        <h3>Filter Noise Types</h3>

        <label><input type="checkbox" checked="checked" ng-click="toggleLayer('transit')"></input><span class="glyphicon glyphicon-leaf clicked"></span>Transit</label>
        <label><input type="checkbox" checked="true" ng-click="toggleLayer('dump')"></input><span class="glyphicon glyphicon-trash clicked"></span>Dumps</label>
        <label><input type="checkbox" checked="true" ng-click="toggleLayer('fireStation')"></input><span class="glyphicon glyphicon-fire clicked"></span>Fire Stations</label>
        <label><input type="checkbox" checked="true" ng-click="toggleLayer('college')"></input><span class="glyphicon glyphicon-pencil clicked"></span>Colleges</label>
        <label><input type="checkbox" checked="true" ng-click="toggleLayer('school')"></input><span class="glyphicon glyphicon-book clicked"></span>Schools</label>
        <label><input type="checkbox" checked="true" ng-click="toggleLayer('policeStation')"></input><span class="glyphicon glyphicon-bullhorn clicked"></span>Police Stations</label>
        <label><input type="checkbox" checked="true" ng-click="toggleLayer('hospital')"></input><span class="glyphicon glyphicon-plus-sign clicked"></span>Hospitals</label>
        <label><input type="checkbox" checked="true" ng-click="toggleLayer('bar')"></input><span class="glyphicon glyphicon-glass clicked"></span>Bars</label>
        <label><input type="checkbox" checked="true" ng-click="toggleLayer('construction')"></input><span class="glyphicon glyphicon-wrench clicked"></span>Construction</label>
        <label><input type="checkbox" checked="true" ng-click="toggleLayer('demolition')"></input><span class="glyphicon glyphicon-warning-sign clicked"></span>Demolition</label>
        <label><input type="checkbox" checked="true" ng-click="toggleLayer('noiseComplaints')"></input><span class="glyphicon glyphicon-phone-alt clicked"></span>911 Noise Complaints</label>
        
        <label><input type="checkbox" checked="true" ng-click="toggleLayer('stadium')"></input><span class="glyphicon glyphicon-volume-up clicked"></span>Stadiums</label>
        <label><input type="checkbox" checked="checked" ng-click="toggleLayer('freeway')"></input><span class="glyphicon glyphicon-road clicked"></span>Freeways</label>
        <label><input type="checkbox" checked="true" ng-click="toggleLayer('heliportOrAirport')"></input><span class="glyphicon glyphicon-plane clicked"></span>Airports/Heliports</label>

      </div>
    </div>

  </div>

</div>
